.THIS .bg-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.THIS .pointer {
    cursor: pointer;
}

.THIS.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

